@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}
.screen {
    display: block;
    text-align: center;
}
body {
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-image: url('../moedas-caindo.png');
    background-position: center center;
    background-size: cover;
}
h1 {
    color: rgb(189, 134, 15);
    text-shadow: 2px 2px 2px black;
    text-align: center;
}
.tela {
    display: block;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 235, 168), rgb(255, 255, 253));
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.575);
    width: 50vw;
    height: 80px;
}
.digito {
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid black;
    border-radius: 3px;
    width: 25px;
    height: 30px;
    text-align: center;
    font-size: 1.3em;
    background-color: white;
}
.botão {
    padding: 4px;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.61);
    margin-top: 5px;
    box-shadow: 1px 1px 4px black;
    cursor: pointer;
}
.botão:active {
    padding: 2px;
    box-shadow: 0px 0px 0px;
    transition: 0.1s;
}